template(name="sticky")
    #fb-root
    .row.sticky-row
        .sticky-social
            .offset-s1
                each sticky
                    .col.s2
                        // TODO
                        if external
                            a.white-text(href="#{link}" target="_blank")
                                i.sticky-icon(class="icon-#{icon}")
                        else
                            // Modal Trigger
                            a.white-text.modal-trigger(href='#sticky_modal-#{_id}')
                                i.sticky-icon(class="icon-#{icon}" data-link="#{link}")
    each sticky
        +sticky_modal

//
template(name="sticky_modal")
    div(id="sticky_modal-#{_id}").modal.modal-fixed-footer
        .modal-content.center
            h4= title
            +UI.dynamic template=title data=this
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close


// *** //
//
template(name="Google-Plus")
    br

template(name="LinkedIn")
    br

template(name="Instagram")
    br

template(name="Pinterest")
    br

