template(name="experiences")
    #experiences.container.section.scrollspy
        .section
            .row
                +experiences_top
                +experiences_bottom
    +experiences_creator

//
template(name="experiences_top")
    .col.s12.center
        each experiences
            if isTitle
                +experiences_icon_container
                +experiences_main_title_container
                +experiences_action_button



//
template(name="experiences_action_button")
    if currentUser
        a.btn-floating.btn-large.btn-edit.waves-light.green.right.modal-trigger(href='#experiences-creator')
            i.mdi-content-add Add
//
template(name="experiences_remove_button")
    if currentUser
        i.remove-item.mdi-action-highlight-remove.left

//
template(name="experiences_icon_container")
    if Session 'editingExperiencesIcon'
        if currentUser
            +InputHelper(attribute="icon" document=this collection="experiences"
            class='form-control' placeholder=icon id=this)
        else
            +experiences_icon
    else
        +experiences_icon
//
template(name="experiences_icon")
    i.pink-text(class="#{icon} medium {{#if currentUser}}edit{{/if}}" name="icon" )

//
template(name="experiences_main_title_container")
    if Session 'editingExperiencesMainTitle'
        if currentUser
            +InputHelper(attribute="text" document=this collection="experiences"
            class='form-control' placeholder=text id=this)
        else
            +experiences_main_title
    else
        +experiences_main_title
//
template(name="experiences_main_title")
    h4.pink-text(name="text" class="{{#if currentUser}}edit{{/if}}")= text




// *** //
template(name="experiences_bottom")
    ul.scrollfire.experiences
        each experiences
            unless isTitle
                li
                    .col.s12.m6.l4
                        .card.white
                            +experiences_remove_button

                            .card-content.black-text
                                +experiences_name_container
                                p
                                    i= overFlowText
                            .card-action
                                a.modal-trigger.cyan-text(href="#modal-#{_id}")
                                    | READ MORE
                +experiences_modal


//
template(name="experiences_name_container")
    if Session 'editingExperiencesName' eq=_id
        if currentUser
            +InputHelper(attribute="name" document=this collection="experiences"
            class='form-control' placeholder=name id=this)
        else
            +experiences_name
    else
        +experiences_name
//
template(name="experiences_name")
    span.purple-text.i.mdi-social-person.medium
    span.black-text
        b(name="name" class="{{#if currentUser}}edit{{/if}}")= name

