template(name='_videos')
    +video_list
    +sticky
    +appointment

//
template(name="video_list")
    .container
        with contentareas.videos
            .row.center
                +videos_icon_container
                +videos_main_title_container

        +videos_menu

        .row
            ul.scrollfire.videos
                unless Session 'selectedPlaylist'
                    each videos
                        // TODO
                        if Session 'isSearch'
                            if videoContainsText
                                li
                                    +video_frame
                        else
                            li
                                +video_frame
                else
                    each youtubePlaylists
                        if isSelectedPlaylist
                            each items
                                li
                                    +video_frame

        unless Session 'selectedPlaylist'
            .row
                .center.pointer
                    if Session 'videosThresholdReached'
                        .less-videos
                            h2.pink-text
                                i.mdi-navigation-expand-less
                            h6.pink-text Collapse
                    else
                        .more-videos
                            h2.pink-text
                                i.mdi-navigation-expand-more
                            h6.pink-text Get More Videos

//
template(name="videos_icon_container")
    if Session 'editingVideosIcon'
        if currentUser
            +InputHelper(attribute="videos.icon" document=this collection="contentareas"
            class='form-control' placeholder=icon id=this)
        else
            +videos_icon
    else
        +videos_icon


//
template(name="videos_icon")
    i.purple-text.medium(class="{{#if currentUser}}edit{{/if}} #{icon}")

//
template(name="videos_main_title_container")
    if Session 'editingVideosMainTitle'
        if currentUser
            +InputHelper(attribute="videos.title" document=this collection="contentareas"
            class='form-control' placeholder=title id=this)
        else
            +videos_main_title
    else
        +videos_main_title

//
template(name="videos_main_title")
    h2.videos-title(class="{{#if currentUser}}edit{{/if}}")= title

//
template(name="videos_menu")
    .row
        form.col.s12
            .row
                +videos_search
                +videos_categories

            //.row
                p
                    b.center
                        if prevPageTokens
                            span
                                a.videos-less.green-text.left Previous
                        if nextPageTokens
                            span
                                a.videos-more.green-text.right Next

//
template(name="videos_search")
    form
        .input-field.col.s12.m6.l4
            i.videos-search.medium.material-icons.prefix search
            input#videos-search.validate(type="text")
            label(for="videos-search") Search

//
template(name="videos_categories")
    .input-field.col.s12.m6.l8
        select.browser-default
            option(value="" disabled="," selected="") Choose category
            option(value="all") All videos
            each youtubePlaylists
                option(value="{{id}}")= title

//
template(name="video_frame")
    .col.s12.m6.l4
        .card.black.lighten-2
            .card-content.white-text
                //span.card-title
                    h6= snippet.title

                if this.snippet.resourceId
                    iframe(width='100%',
                    height='100%',
                    src='https://www.youtube.com/embed/#{snippet.resourceId.videoId}',
                    frameborder='0',
                    allowfullscreen='')
                else
                    iframe(width='100%',
                    height='100%',
                    src='https://www.youtube.com/embed/#{id.videoId}',
                    frameborder='0',
                    allowfullscreen='')

                //img.responsive-img(src="#{snippet.thumbnails.default.url}")

            .card-action
                if this.snippet.resourceId
                    // Playlist item
                    a(href="/video/{{encodeUri(this.snippet.title)}}") More info
                else
                    // Searched video
                    a(href="/video/{{encodeUri(this.snippet.title)}}") More info