template(name="videos")
    .parallax-container.valign-wrapper
        each videos
            .section.no-pad-bot
                #videos.container.section.scrollspy
                    .row.center
                        +videos_title_container
            .parallax.scrollfire.videos
                +videos_img_container

//
template(name="videos_title_container")
    if Session 'editingVideosTitle'
        if currentUser
            .black-text
                +InputHelper(attribute='title' document=this collection="videos"
                class='form-control center' placeholder=title id=this)
        else
            +videos_title
    else
        +videos_title

//
template(name="videos_title")
    h5.header.col.s12.pink(name="title" class="{{#if currentUser}}edit{{/if}}")!= title

//
template(name="videos_img_container")
    if Session 'editingVideosImg'
        if currentUser
            .black-text
                +InputHelper(attribute='img' document=this collection="videos"
                class='form-control center' placeholder=img id=this)
        else
            +videos_img
    else
        +videos_img

//
template(name="videos_img")
    img(src='#{img}', alt='#{alt}' name="img" class="{{#if currentUser}}edit{{/if}}")
