template(name='videos')
    +video_list
    +sticky
    +appointment

template(name="video_list")
    with contentareas.videos
        i.center.purple-text.large(class="#{icon}")
        h2.center= title


    // TODO: categories, get from videos, or from categories?

    each videos
        +video_frame

template(name="video_frame")
    .row
        .col.s12.m6
            .card.grey.lighten-1
                .card-content.white-text
                    span.card-title= title
                    p
                        b= category
                    p
                        each keywords
                            span= keyword

                .card-action
                    a(href="#{link}") Watch video
