template(name="eventss")
    #eventss.container.section.scrollspy
        .section
            .row
                +events_top
                +events_bottom
            .row
                .center.pointer
                    if Session 'eventsThresholdReached'
                        .less-events
                            h2.pink-text
                                i.mdi-navigation-expand-less
                            h6.expand.pink-text Collapse Events
                    else
                        .more-events
                            h2.pink-text
                                i.mdi-navigation-expand-more
                            // TODO: Fix with mongo limit
                            h6.expand.pink-text Get More Events
    +events_creator

//
template(name="events_top")
    .col.s12.center
        with contentareas.eventss
            +events_icon_container
            +events_main_title_container
            +events_action_button
//
template(name="events_action_button")
    if currentUser
        a.btn-floating.btn-large.btn-edit.waves-light.green.right.modal-trigger(href='#events-creator')
            i.mdi-content-add Add
//
template(name="events_remove_button")
    if currentUser
        i.remove-item.mdi-action-highlight-remove.left

//
template(name="events_icon_container")
    if Session 'editingEventsIcon'
        //if currentUser
        //    +InputHelper(attribute="icon" document=this collection="contentareas.eventss
        //    class='form-control' placeholder=icon id=this)
        //else
            +events_icon
        +events_icon
    else
        +events_icon

//
template(name="events_icon")
    i.pink-text(class="#{icon} medium {{#if currentUser}}edit{{/if}}" name="icon")

//
template(name="events_main_title_container")
    if Session 'editingEventsMainTitle'
        //if currentUser
        //    +InputHelper(attribute="title" document=this collection="eventss"
        //    class='form-control' placeholder=title id=this)
        //else
        //    +events_main_title
        +events_main_title
    else
        +events_main_title
//
template(name="events_main_title")
    h4.pink-text(name="title" class="{{#if currentUser}}edit{{/if}}")= title

// *** //
template(name="events_bottom")
    ul.scrollfire.events
        each eventss
            li
                .col.s12.m6.l4
                    .card.event-card.white
                        +events_remove_button
                        .card-content.black-text
                            +events_title_container
                            br
                            +events_date_container
                            br
                            +events_location_container
                            br
                            +events_text_container
                            if link
                                +events_link_container

                        .card-action
                            a.modal-trigger.cyan-text(href="#modal-#{_id}")
                                | READ MORE
            +events_modal

//
template(name="events_title_container")
    if Session 'editingEventsTitle' eq=_id
        if currentUser
            +InputHelper(attribute="title" document=this collection="eventss"
            class='form-control' placeholder=title id=this)
        else
            +events_title
    else
        +events_title

//
template(name="events_title")
    span.purple-text.mdi-action-event.medium
    span.black-text
        b(name="title" class="{{#if currentUser}}edit{{/if}}")= title

//
template(name="events_location_container")
    if Session 'editingEventsLocation' eq=_id
        if currentUser
            +InputHelper(attribute="location" document=this collection="eventss"
            class='form-control' placeholder=location id=this)
        else
            +events_location
    else
        +events_location

//
template(name="events_location")
    b.black-text.light Location: &nbsp;
    span(name="location" class="{{#if currentUser}}edit{{/if}}")= location

//
template(name="events_date_container")
    if Session 'editingEventsDate' eq=_id
        if currentUser
            +InputHelper(attribute="date" document=this collection="eventss"
            class='form-control' placeholder=date id=this)
        else
            +events_date
    else
        +events_date

//
template(name="events_date")
    b.black-text.light Date: &nbsp;
    if currentUser
        input.event_pickdate(type="text" value="#{getDateFrom}" id="events_date_from_#{_id}" name="events_date_from"
        data-id="#{_id}")
        input.event_pickdate(type="text" value="#{getDateTo}" id="events_date_to_#{_id}" name="events_date_to"
        data-id="#{_id}")
    else
        span= getDates
        //span(name="date" class="{{#if currentUser}}edit{{/if}}")= date


//
template(name="events_text_container")
    if Session 'editingEventsText' eq=_id
        if currentUser
            +InputHelper(attribute="text" document=this collection="eventss"
            class='form-control' placeholder=text id=this)
        else
            +events_text
    else
        +events_text
//
template(name="events_text")
    p(name="text" class="{{#if currentUser}}edit{{/if}}")
        i!= overFlowText

//
template(name="events_link_container")
    if Session 'editingEventsLink' eq=_id
        if currentUser
            +InputHelper(attribute="link" document=this collection="eventss"
            class='form-control' placeholder=link id=this)
        else
            +events_link
    else
        +events_link

//
template(name="events_link")
    p
        small
            i
                a(href="{{#unless currentUser}}#{link}{{/unless}}"
                target="_blank" name="link"
                class="{{#if currentUser}}edit{{/if}}")
                    | For more information, click here: