//
template(name="events_modal")
    .modal.modal-fixed-footer(id="modal-#{_id}")
        .modal-content.center
            +events_modal_title_container
            +events_modal_text_container
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close
//
template(name="events_modal_title_container")
    if Session 'editingEventsTitle' eq=_id
        if currentUser
            +InputHelper(attribute="title" document=this collection="eventss"
            class='form-control' placeholder=title id=this)
        else
            +events_modal_title
    else
        +events_modal_title
//
template(name="events_modal_title")
    h4.black-text(name="title" class="{{#if currentUser}}edit{{/if}}")!= title
//
template(name="events_modal_text_container")
    if Session 'editingEventsText' eq=_id
        if currentUser
            +InputHelper(attribute="text" document=this collection="eventss"
            class='form-control' placeholder=text id=this)
        else
            +events_modal_text
    else
        +events_modal_text
//
template(name="events_modal_text")
    p(name="text" class="{{#if currentUser}}edit{{/if}}")!= text