// TODO: Split up + namespace

template(name="navbar")
    #navbar.navbar-fixed
        nav.white(role='navigation')
            .container
                .nav-wrapper
                    // TODO: href="#navbar" ?
                    a#logo-container.brand-logo(href='#top')
                        span.logo-icon(class="icon-yin_yang purple-text")
                        span.logo-name.purple-text Art of Neutrality
                    a.button-collapse(href='#', data-activates='nav-mobile')
                        i.mdi-navigation-menu

                    if currentUser
                        ul#sign-out
                            li
                                +account

                    ul#nav-mobile.side-nav
                       +nav_items_side
                    ul#nav-upper.hide-on-med-and-down.right
                        +nav_container

//
template(name="account")
    ul#account-dropdown.dropdown-content
        li
            a#sign-out Logga ut
    // Dropdown Trigger
    li
        a.dropdown-button(href='#!', data-activates='account-dropdown')
            i.mdi-action-settings.purple-text



//
template(name="nav_container")
    each navbar
        if Session 'editingNavbar'
            if currentUser
                .black-text
                    +InputHelper(attribute=affectedProperty document=this collection="navbar"
                    class='form-control' id=this)

            else
                +nav_items
        else
            +nav_items

//
template(name="nav_items_side")
    each navbar
        +nav_items


//
template(name="nav_items")
    li
        a(href='#{{#unless currentUser}}{{about.link}}{{/unless}}'
        name="about" class="{{#if currentUser}}edit{{/if}}")= about.text

    li
        a(href='#{{#unless currentUser}}{{videos.link}}{{/unless}}'
        name="videos" class="{{#if currentUser}}edit{{/if}}")= videos.text

    li
        a(href='#{{#unless currentUser}}{{consultation.link}}{{/unless}}'
        name="consultation" class="{{#if currentUser}}edit{{/if}}")= consultation.text

    li
        a(href='#{{#unless currentUser}}{{training.link}}{{/unless}}'
        name="training" class="{{#if currentUser}}edit{{/if}}")= training.text

    li
        a(href='#{{#unless currentUser}}{{experiences.link}}{{/unless}}'
        name="experiences" class="{{#if currentUser}}edit{{/if}}")= experiences.text

    li
        a(href='#{{#unless currentUser}}{{eventss.link}}{{/unless}}'
        name="eventss" class="{{#if currentUser}}edit{{/if}}")= eventss.text