template(name="footer")
    footer
        footer.page-footer.cyan
            #footer.container.section
                .row
                    each footer
                        +footer_top
                        +footer_bottom
                        +footer_modal
                        +footer_disclaimer

template(name="footer_top")
    .col.s3
        img.img-footer.circle.responsive-img(src='#{img}', alt='#{alt}')
    .col.s9
        +footer_title_container
        +footer_text_container
        a.waves-effect.waves-light.btn.modal-trigger(href="#footer-modal") READ MORE


//
template(name="footer_title_container")
    if Session 'editingFooterTitle'
        if currentUser
            +InputHelper(attribute="title" document=this collection="footer"
            class='form-control' placeholder=title id=this)
        else
            +footer_title
    else
        +footer_title

//
template(name="footer_title")
    h5(name="title" class="{{#if currentUser}}edit{{/if}}")= title

//
template(name="footer_text_container")
    if Session 'editingFooterText'
        if currentUser
            +InputHelper(attribute="text" document=this collection="footer"
            class='form-control' placeholder=text id=this)
        else
            +footer_text
    else
        +footer_text

//
template(name="footer_text")
    p.text-lighten-4(name="text" class="{{#if currentUser}}edit{{/if}}")!= overFlowText


// *** //
template(name="footer_bottom")
    .col.s12
        .footer-copyright.cyan.darken-2
            .container
                | &copy; 2015 Art of Neutrality. &nbsp; All rights reserved. &nbsp;
                a.modal-trigger.text-lighten-3.yellow-text(href="#footer-disclaimer") Disclaimer


