// TODO: Add training !!

//
template(name="training")
    .parallax-container.valign-wrapper
        .section.no-pad-bot
            #training.container.section.scrollspy
                each training
                    if isTitle
                        .row.center
                            +training_top
            .parallax.scrollfire.training
                //img(src='#{img}', alt='#{alt}')
                img(src='/img/backgrounds/w1.jpg', alt='Training')

    .section
        .row
        +training_action_button
    .container.section
        .row
            +training_bottom

    +training_creator

//
template(name="training_top")
    +training_icon_container
    +training_title_container
    +training_text_container

//
template(name="training_icon_container")
    if Session 'editingTrainingIcon'
        if currentUser
            +InputHelper(attribute="icon" document=this collection="training"
            class='form-control' placeholder=icon id=this)
        else
            +training_icon
    else
        +training_icon
//
template(name="training_icon")
    i.cyan-text(class="#{icon} medium {{#if currentUser}}edit{{/if}}" name="icon" )

//
template(name="training_title_container")
    if Session 'editingTrainingTitle'
        if currentUser
            .black
                +InputHelper(attribute="title" document=this collection="training"
                class='form-control center' placeholder=title id=this)
        else
            +training_title
    else
        +training_title
//
template(name="training_title")
    h4.header.cyan(name="title" class="{{#if currentUser}}edit{{/if}}")= title

//
template(name="training_text_container")
    if Session 'editingTrainingText'
        if currentUser
            .black
                +InputHelper(attribute="text" document=this collection="training"
                class='form-control center' placeholder=text id=this)
        else
            +training_text
    else
        +training_text
//
template(name="training_text")
    h5(name="text" class="cyan {{#if currentUser}}edit{{/if}}")= text

// *** //
//
template(name="training_action_button")
    if currentUser
        a.btn-floating.btn-large.btn-edit.waves-light.green.right.modal-trigger(href='#training-creator')
            i.mdi-content-add Add


//
template(name="training_bottom")
    ul.scrollfire.training
        each training
            if link
                li
                    .col.s4
                        //a.waves-effect.waves-light.btn
                            +resources_card_title_container
                        .card.training-card.cyan.lighten-4
                            +training_remove_button
                            .card-content
                                span.card-title
                                    +training_card_title_container
                                .center
                                    +training_card_text_container
                                //.card-action
                                    a.cyan-text(href="#{link}" target="_blank") READ MORE
//
template(name="training_remove_button")
    if currentUser
        i.remove-item.mdi-action-highlight-remove.left


//
template(name="training_card_title_container")
    if Session 'editingTrainingCardTitle' eq=_id
        if currentUser
            .black-text
                +InputHelper(attribute="title" document=this collection="training"
                class='form-control' placeholder=title id=this)
        else
            +training_card_title
    else
        +training_card_title
//
template(name="training_card_title")
    h6.black-text.center
        b(name="title" class="{{#if currentUser}}edit{{/if}}")= title


//
template(name="training_card_text_container")
    if Session 'editingTrainingCardText' eq=_id
        if currentUser
            .black-text
                +InputHelper(attribute="link" document=this collection="training"
                class='form-control' placeholder=link id=this)
        else
            +training_card_text
    else
        +training_card_text

//
template(name="training_card_text")
    a(href="#{link}" target="_blank")
        h2.black-text.training-text(class="{{#if currentUser}}edit{{/if}} mdi-action-shopping-cart" name="text")
        //!= text
