template(name="hero")
    #index-banner.parallax-container
        each hero
            .section.no-pad-bot
                #promo-banner.container.section.scrollspy
                    br
                    br
                    +hero_title_container
                    .row.center
                        +hero_subtitle_container
                    .row.center
                        br
                        br
                        +hero_text_container

                        a#download-button.btn-large.waves-effect.waves-light.lighten-1.modal-trigger.cyan(
                        href='#hero_modal')= button
                    br
                    br
            +hero_img_container

            +hero_modal

//
template(name="hero_title_container")
    if Session 'editingHeroTitle'
        if currentUser
            +InputHelper(attribute="title" document=this collection="hero"
            class='form-control' placeholder=title id=this)
        else
            +hero_title
    else
        +hero_title

//
template(name="hero_title")
    h1.header.center.text-lighten-2.cyan-text(name="title" class="{{#if currentUser}}edit{{/if}}")= title

//
template(name="hero_subtitle_container")
    if Session 'editingHeroSubTitle'
        if currentUser
            +InputHelper(attribute="subTitle" document=this collection="hero"
            class='form-control' placeholder=subTitle id=this)
        else
            +hero_subtitle
    else
        +hero_subtitle

//
template(name="hero_subtitle")
    h5.header.col.s12.white-text(name="subTitle" class="{{#if currentUser}}edit{{/if}}")= subTitle

//
template(name="hero_text_container")
    if Session 'editingHeroText'
        if currentUser
            +InputHelper(attribute="text" document=this collection="hero"
            class='form-control' placeholder=text id=this)
        else
            +hero_text
    else
        +hero_text

//
template(name="hero_text")
    p.white-text(name="text" class="{{#if currentUser}}edit{{/if}}")
        +markdown
            #{text}


//
template(name="hero_img_container")
    if Session 'editingHeroImg'
        if currentUser
            +InputHelper(attribute="img" document=this collection="hero"
            class='form-control' placeholder=img id=this)
        else
            +hero_img
    else
        +hero_img
//
template(name="hero_img")
    .parallax.scrollfire.hero(name="img" class="{{#if currentUser}}edit{{/if}}")
        img(src='#{img}', alt='#{alt}')


